<style>
    .custom-alert-ok {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .custom-alert-error {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    /* Estilos específicos para el formulario de ofrecer productos */
    .form-wrapper-ofrecer-productos {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 350px;
        margin-left: 750px; /* Ajuste de la posición */
        height: auto;
        max-width: 500px;
    }

    .form-wrapper-ofrecer-productos .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Estilos específicos para el formulario de donación de dinero */
    .form-wrapper-donar-dinero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        margin-left: 750px; /* Ajuste de la posición */
        height: auto;
        max-width: 500px;
    }

    .form-wrapper-donar-dinero .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Estilos específicos para el formulario de donación de vianda */
    .form-wrapper-donar-vianda {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -200px;
        margin-left: 750px; /* Ajuste de la posición */
        height: auto;
        max-width: 600px;
    }

    .form-wrapper-donar-vianda .styled-form {
        width: 100%;
        padding: 30px;
        background-color: #e9f7ef;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    /* Estilos específicos para el formulario de registrar persona vulnerable */
    .form-wrapper-registrar-persona-vulnerable {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 80px;
        margin-left: 750px; /* Ajuste de la posición hacia la derecha */
        height: auto;
        max-width: 800px; /* Ampliación del tamaño del formulario */
    }

    .form-wrapper-registrar-persona-vulnerable .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Estilos específicos para el formulario de distribuir vianda */
    .form-wrapper-distribuir-vianda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 80px;
        margin-left: 750px; /* Ajuste de la posición hacia la derecha */
        height: auto;
        max-width: 800px; /* Ampliación del tamaño del formulario */
    }

    .form-wrapper-distribuir-vianda .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Estilos específicos para el formulario de distribuir vianda */
    .form-wrapper-distribuir-vianda {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 80px;
        margin-left: 750px; /* Ajuste de la posición hacia la derecha */
        height: auto;
        max-width: 800px; /* Ampliación del tamaño del formulario */
    }

    .form-wrapper-distribuir-vianda .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


    /* Contenedor scrollable pegado al formulario */
    .scrollable-container {
        max-height: 500px; /* Ajusta la altura si es necesario */
        overflow-y: auto;
        padding-right: 0; /* Elimina el espacio entre el formulario y la barra */
    }

    /* Estilos generales para campos de entrada dentro de formularios */
    .styled-form label {
        display: block;
        font-weight: bold;
    }

    .styled-form input[type="text"],
    .styled-form input[type="date"],
    .styled-form input[type="number"],
    .styled-form select {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .styled-form button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .styled-form button:hover {
        background-color: #0056b3;
    }

    .styled-form button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

    .input-group-symbol {
        padding: 8px;
        background-color: #ccc;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
    }

    .input-group input[type="number"] {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 0;
        font-size: 14px;
        margin-left: -1px; /* To avoid double border */
    }

    .inline-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    /* INICIO: estilos para las 2 opciones de hacerse cargo de una heladera*/
    .section2 {
        padding: 80px 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2 {
        max-width: 1270px;
        padding: 0 15px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-cards2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: -300px;
    }

    .section-card2 {
        width: 100%;
        max-width: 2800px; /* Adjust the max-width to make the cards longer */
        padding: 50px 90px 40px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background: white;
        border-radius: 80px 0 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -160px; /* Adjust this value to move the cards to the left */

    }

    .section-card2:nth-child(1) {
        --color: #9A87A0;
    }

    .section-card2:nth-child(2) {
        --color: #7BB5C2;
    }

    .section-card2:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, var(--color), #ffffff);
        z-index: -1;
        clip-path: circle(40px at 70px 70px);
        transition: clip-path 1s ease, transform 1s ease;
        border-radius: 80px 0 0 80px;
    }

    .section-card2:hover::before {
        clip-path: circle(100%);
        overflow: hidden;
    }

    .section-card2 span {
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        width: 80px;
        font-weight: bold;
        transform: translate(30px, 30px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        transition: transform 1s ease;
    }

    .section-card2:hover span {
        transform: translate(0, 30px);
    }

    .section-card2 h2 {
        font-size: 30px;
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .section-card2 p {
        color: white;
        line-height: 1.6;
    }

    .section-card2 a {
        display: inline-block;
        text-transform: capitalize;
        color: white;
        margin-top: 20px;
        font-weight: 500;
        transition: color 1s ease;
    }

    .section-card2:hover a,
    .section-card2:hover h2,
    .section-card2:hover p {
        color: black;
    }

    @media (max-width: 990px) {
        .section-cards2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 575px) {
        .section-cards2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .form-wrapper {
        max-width: 600px; /* Adjust the width as needed */
        margin: 0 auto; /* Center the form horizontally */
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* FIN: estilos para las 2 opciones de hacerse cargo de una heladera*/


    /* INICIO: Estilos específicos para el formulario de hacerse cargo de una heladera */
    .form-wrapper-heladera {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: -245px;
        margin-left: 50px; /* Ajuste de la posición hacia la derecha */
    }

    .form-wrapper-heladera .styled-form {
        width: 100%;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /* Estilo para el cuadro de diálogo */
    .custom-alert-info {
        position: relative;
        background-color: #eda86b;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 14px;
    }

    /* FIN: Estilos específicos para el formulario de hacerse cargo de una heladera */

    /* INICIO: estilos para el formulario de solicitar puntos*/
    .section3 {
        padding: 80px 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container3 {
        max-width: 1270px;
        padding: 0 15px;
        margin: auto;
    }

    .flex-container3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .styled-form3 {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
        margin-left: -50px; /* Mueve el formulario hacia la izquierda */
    }

    .styled-form3 label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .styled-form3 input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .styled-form3 button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .styled-form3 button:hover {
        background-color: #45a049;
    }

    .data-display3 {
        width: 50%;
        float: right;
        border: 1px solid #000;
        height: 300px;
        padding: 20px;
        background-color: #f1f1f1;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }

    .data-display3 ul {
        list-style-type: none;
        padding: 0;
    }

    .data-display3 li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    /* FIN: estilos para el formulario de solicitar puntos*/

    /* Adjust the CSS for the button and new form container */
    .styled-form-button {
        width: 100%;
        padding: 7px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin: 20px 0; /* Add margin to separate the button from the form */
        max-width: 200px;
        cursor: pointer;
    }

    .styled-form-button:hover {
        background-color: #0056b3;
    }

    .styled-form-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    #location-form-container {
        display: none;
        position: absolute;
        left: 1500px; /* Position it to the right of the button */
        top: 0;
    }

</style>

{{#partial "contenido"}}
    <div class="form-wrapper-ofrecer-productos">
        {{#if ofrecer-productos}}
            <form action="/colaboracion" method="POST" enctype="multipart/form-data" class="styled-form"
                  style="color: black">
                <div class="form-group row">
                    <label for="nombre" style="color: black; display: inline-block; width: 150px; white-space: nowrap;">Nombre del producto/servicio:</label>
                    <input type="text" id="nombre" name="nombre" style="width: 300px;" required>
                </div>
                <div class="form-group row">
                    <label for="puntosNecesarios" style="color: black; display: inline-block; width: 150px; white-space: nowrap;">Puntos Necesarios:</label>
                    <input type="number" id="puntosNecesarios" name="puntosNecesarios" style="width: 300px;" min="0" >
                </div>
                <div class="form-group row">
                    <label for="rubro" style="color: black; display: inline-block; width: 150px;">Categoria:</label>
                    <input type="text" id="rubro" name="rubro" style="width: 300px;" required>
                </div>
                <div class="form-group row">
                    <label for="imagen" style="color: black; display: inline-block; width: 150px;">Imagen (url):</label>
                    <input type="text" id="imagen" name="imagen" style="width: 300px;" accept="image/*" required>
                    <small style="display: block; margin-top: 5px; color: gray;">
                        Si no tenés un enlace para la imagen, podés subirla a <a href="https://postimages.org/" target="_blank" style="color: blue; text-decoration: underline;">postimages</a> o a otro servicio similar.
                    </small>
                </div>

                <input type="hidden" name="accion" value="ofrecer-productos">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {{/if}}
    </div>


    <div class="form-wrapper-donar-dinero">
        {{#if donar-dinero}}
            <form method="POST" action="/colaboracion" id="donation-form" class="styled-form">
                <label for="fecha">Fecha de la donacion:</label>
                <input type="date" id="fecha" name="fecha" required>
                <input type="hidden" name="accion" value="donar-dinero">
                <label for="monto">Dinero a donar:</label>
                <div class="input-group">
                    <span class="input-group-symbol">$</span>
                    <input type="number" id="monto" name="monto" required min="0">
                </div>
                <label for="frecuencia">Frecuencia:</label>
                <select id="frecuencia" name="frecuencia" required>
                    <option value="EVENTUAL">Eventual</option>
                    <option value="DIARIA">Diaria</option>
                    <option value="MENSUAL">Mensual</option>
                    <option value="ANUAL">Anual</option>
                </select>
                <button type="submit" id="donar-btn">Donar YA!</button>
            </form>
        {{/if}}
    </div>

    <div class="form-wrapper-donar-vianda">
        {{#if donar-vianda}}
            <form method="POST" action="/colaboracion" class="styled-form scrollable-form" id="donar-vianda">
                <label for="tipo-comida">Tipo de comida:</label>
                <input type="text" id="tipo-comida" name="tipo-comida" required>
                <input type="hidden" name="accion" value="donar-vianda">
                <label for="fecha-caducidad">Fecha de caducidad:</label>
                <input type="date" id="fecha-caducidad" name="fecha-caducidad" required>

                <label for="fecha-donacion">Fecha de la donación:</label>
                <input type="date" id="fecha" name="fecha-donacion" required>

                <label for="heladera">Heladera:</label>
                <select id="heladera" name="heladera" required>
                    {{#if heladeras}}
                        {{#each heladeras}}
                            <option value="{{this.id}}">Heladera:  {{this.nombre}}</option>
                        {{/each}}
                    {{else}}
                        <option value="">No hay heladeras disponibles</option>
                    {{/if}}
                </select>

                <label for="calorias">Calorías (opcional):</label>
                <input type="number" id="calorias" name="calorias">

                <label for="peso">Peso (opcional):</label>
                <input type="number" id="peso" name="peso">

                <label for="estado">Estado:</label>
                <select id="estado" name="estado" required>
                    <option value="pendiente">Pendiente</option>
                    <option value="entregada">Entregada</option>
                </select>
                <button type="submit">Donar !</button>
            </form>
        {{/if}}
    </div>

    <!-- Apply the scrolling container to the form -->
    <div class="form-wrapper-registrar-persona-vulnerable">
        {{#if registrar-pv}}
            <div class="scrollable-container">
                <form method="POST" action="/colaboracion" class="styled-form" id="formulario-principal">

                    <label for="fechaAlta">Fecha de Alta:</label>
                    <input type="date" id="fecha" name="fechaAlta" required>

                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <div class="inline-group">
                        <label for="tipoDocumento">Tipo:</label>
                        <select id="tipoDocumento" name="tipoDocumento" required>
                            <option value="DNI">DNI</option>
                            <option value="LC">LC</option>
                            <option value="LE">LE</option>
                            <option value="CUIT">CUIT</option>
                        </select>

                        <input type="text" id="numeroDocumento" name="numeroDocumento" required
                               placeholder="Número de Documento" pattern="\d*">
                    </div>

                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>


                    <label for="provincia">Provincia:</label>
                    <select id="provincia" name="provincia" required onchange="updateLocalidades()">
                        <option value="" disabled selected>Selecciona una provincia</option>
                        <option value="provincia-buenos-aires">Buenos Aires</option>
                        <option value="provincia-buenos-aires-sur">Buenos Aires-GBA</option>
                        <option value="capital-federal">Capital Federal</option>

                    </select>


                    <label for="localidad">Localidad:</label>
                    <select id="localidad" name="localidad" required disabled>
                        <option value="" disabled selected>Selecciona una localidad</option>
                    </select>

                    <div class="inline-group">
                        <input type="checkbox" id="enCondicionCalle" name="enCondicionCalle"
                               onclick="toggleCalleField()">
                        <label for="enCondicionCalle">En condición de calle</label>
                        <label></label>
                    </div>
                    <label for="calle">Calle:</label>
                    <input type="text" id="calle" name="calle" required>


                    <label for="altura">Altura:</label>
                    <input type="text" id="altura" name="altura" required>


                    <div class="inline-group">
                        <label for="personasACargo">Posee personas a cargo?</label>
                        <input type="checkbox" id="personasACargo" name="personasACargo"
                               onclick="togglePersonaButton()">
                    </div>

                    <button type="button" id="agregarPersonaBtn" style="display: none;" onclick="agregarPersona()">(+)
                        agregar persona
                    </button>

                    <div id="persona-forms-container" style="margin-top: 20px;"></div>
                    <input type="hidden" name="accion" value="registrar-pv">
                    <button type="submit">Registrar</button>
                </form>
            </div>
        {{/if}}
    </div>

    <div class="form-wrapper-distribuir-vianda">
        {{#if distribuir-vianda}}
            <div class="form-wrapper">
                <form method="POST" action="/colaboracion" id="distribution-form"
                      class="styled-form scrollable-form">
                    <input type="hidden" name="accion" value="distribuir-vianda">
                    <label for="heladera-origen">Heladera de origen:</label>
                    <select id="heladera-origen" name="heladera-origen" required>
                        {{#if heladeras}}
                            {{#each heladeras}}
                                <option value="{{this.id}}">Heladera: {{this.nombre}}</option>
                            {{/each}}
                        {{else}}
                            <option value="">Sin heladeras disponibles :(</option>
                        {{/if}}
                    </select>

                    <label for="heladera-destino">Heladera de destino:</label>
                    <select id="heladera-destino" name="heladera-destino" required>
                        {{#if heladeras}}
                            {{#each heladeras}}
                                <option value="{{this.id}}">Heladera: {{this.nombre}}</option>
                            {{/each}}
                        {{else}}
                            <option value="">Sin heladeras disponibles :(</option>
                        {{/if}}
                    </select>

                    <label for="cantidad-viandas">Cantidad de Viandas:</label>
                    <input type="number" id="cantidad-viandas" name="cant-viandas" min="1" required>

                    <label for="motivo-distribucion">Motivo de la Distribución:</label>
                    <select id="motivo-distribucion" name="motivo-distribucion" required>
                        <option value="Desperfecto">Desperfecto en la heladera</option>
                        <option value="FaltaViandas">Falta de viandas en la heladera destino</option>
                    </select>
                    <button type="submit">Distribuir</button>
                </form>
            </div>
        {{/if}}
    </div>

    <div class="form-wrapper-heladera">
        {{#if cargo-heladera}}
            <div class="form-wrapper">
                <form method="POST" action="/colaboracion" id="distribution-form" class="styled-form scrollable-form">
                    <input type="hidden" name="accion" value="cargo-heladera">
                    <label for="nombre">Nombre de la heladera:</label>
                    <input type="text" id="nombre" name="nombre" required>
                    <label for="fecha-instalacion">Fecha de instalacion:</label>
                    <input type="date" id="fecha" name="fecha-instalacion" required>
                    <label for="provincia">Provincia:</label>
                    <select id="provincia" name="provincia" required onchange="updateLocalidades()">
                        <option value="" disabled selected>Selecciona una provincia</option>
                        <option value="provincia-buenos-aires">Buenos Aires</option>
                        <option value="provincia-buenos-aires-sur">Buenos Aires-GBA</option>
                        <option value="capital-federal">Capital Federal</option>
                    </select>
                    <label for="localidad">Localidad:</label>
                    <select id="localidad" name="localidad" required disabled>
                        <option value="" disabled selected>Selecciona una localidad</option>
                    </select>
                    <label for="calle">Calle:</label>
                    <input type="text" id="calle" name="calle" required>
                    <div id="calle-alert" class="custom-alert-info" style="display: none;">
                        ¡OJO! -> La calle debe pertenecer a la provincia y localidad seleccionada.
                    </div>
                    <label for="altura">Altura:</label>
                    <input type="number" id="altura" name="altura" required>
                    <!--<label for="capacidad">Capacidad maxima de viandas:</label>
                    <input type="text" id="capacidad" name="capacidad" required>-->
                    <label for="modelo">Modelo heladera:</label>
                    <select name="modelo" required>
                        {{#each modelos}}
                            <option value="{{this.id}}">{{this.nombre}}</option>
                        {{/each}}
                    </select>
                    <!--
                    <input type="text" id="modelo" name="modelo" required>
                    <label for="temperatura-maxima">Temperatura Maxima:</label>
                    <input type="number" id="temperatura-maxima" name="temperatura-maxima" required>
                    <label for="temperatura-minima">Temperatura Minima:</label>
                    <input type="number" id="temperatura-minima" name="temperatura-minima" required>
                     -->
                    <button type="submit">Cargar Colaboracion</button>
                </form>
            </div>
        {{/if}}
    </div>


    <script>

        //MANTENER ESTO ARRIBA SINO SE BUGEA POR FAVOOOOOOOOOOR

        document.addEventListener('DOMContentLoaded', () => {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('fecha').value = today;

            const form = document.getElementById('donation-form');
            const button = document.getElementById('donar-btn');
            const inputs = form.querySelectorAll('input, select');
        });

        document.addEventListener('DOMContentLoaded', () => {

            inputs.forEach(input => {
                input.addEventListener('input', () => {
                    button.disabled = Array.from(inputs).some(input => !input.value || (input.type === 'number' && input.value <= 0));
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const forms = document.querySelectorAll('form');
            forms.forEach(form => {
                form.addEventListener('submit', (event) => {
                    event.preventDefault();
                    const formData = new FormData(form);
                    fetch(form.action, {
                        method: 'POST',
                        body: formData
                    })
                            .then(response => {
                                if (response.ok) {
                                    showAlertOK('DONACION EXITOSA, MUCHAS GRACIAS POR CONTRIBUIR');
                                    setTimeout(() => {
                                        window.history.back();
                                    }, 1500); // Redirect after 3 seconds
                                } else {
                                    showAlertERROR('ERROR AL GUARDAR LA DONACION, VERIFIQUE LOS DATOS');
                                    setTimeout(() => {
                                        window.location.reload();
                                    }, 1500); // Redirect after 3 seconds
                                }
                            })
                            .catch(error => {
                                showAlertERROR('ERROR AL GUARDAR LA DONACION, VERIFIQUE LOS DATOS');
                            });
                });
            });

            function showAlertOK(message) {
                const alertBox = document.createElement('div');
                alertBox.className = 'custom-alert-ok';
                alertBox.innerText = message;
                document.body.appendChild(alertBox);
                setTimeout(() => alertBox.remove(), 5000);
            }

            function showAlertERROR(message) {
                const alertBox = document.createElement('div');
                alertBox.className = 'custom-alert-error';
                alertBox.innerText = message;
                document.body.appendChild(alertBox);
                setTimeout(() => alertBox.remove(), 5000);
            }
        });
        /// HASTA ACAAAAAAAAAAAAAAAAAAA

        // Mostrar el cuadro de diálogo cuando el usuario ingrese la calle y la altura
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('calle').addEventListener('input', function () {
                document.getElementById('calle-alert').style.display = 'block';
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('altura').addEventListener('input', function () {
                document.getElementById('calle-alert').style.display = 'block';
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('toggle-location-form').addEventListener('click', function () {
                const locationFormContainer = document.getElementById('location-form-container');
                locationFormContainer.style.display = locationFormContainer.style.display === 'none' ? 'block' : 'none';
            });
        });

        document.addEventListener('DOMContentLoaded', () => {

            let personaCount = 1; // Contador para diferenciar cada formulario adicional

            // Muestra u oculta el botón "(+) agregar persona" basado en el estado del checkbox
            function togglePersonaButton() {
                const checkbox = document.getElementById("personasACargo");
                const agregarPersonaBtn = document.getElementById("agregarPersonaBtn");

                agregarPersonaBtn.style.display = checkbox.checked ? "inline-block" : "none";
            }

            window.togglePersonaButton = togglePersonaButton;

            // Función para agregar un formulario idéntico al original, sin el checkbox de "personas a cargo"
            function agregarPersona() {
                const container = document.getElementById("persona-forms-container");
                const newForm = document.createElement("div");
                newForm.style.border = "2px solid #007bff"; // Añade un contorno marcado
                newForm.style.marginTop = "20px";
                newForm.id = `persona-form-${personaCount}`;
                newForm.innerHTML = `
    <label for="nombrePersona-${personaCount}">Nombre:</label>
    <input type="text" id="nombrePersona-${personaCount}" name="nombrePersona-${personaCount}" required><br>

    <label for="fechaNacimientoPersona-${personaCount}">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimientoPersona-${personaCount}" name="fechaNacimientoPersona-${personaCount}"
           required><br>

    <label for="fechaAltaPersona-${personaCount}">Fecha de Alta:</label>
    <input type="date" id="fechaAltaPersona-${personaCount}" name="fechaAltaPersona-${personaCount}" required><br>

    <label for="enCondicionCallePersona-${personaCount}">En Condicion de Calle:</label>
    <input type="checkbox" id="enCondicionCallePersona-${personaCount}" name="enCondicionCallePersona-${personaCount}">
    <br>

    <label>Domicilio</label>
    <label for="callePersona-${personaCount}">Calle:</label>
    <input type="text" id="callePersona-${personaCount}" name="callePersona-${personaCount}" required><br>

    <label for="alturaPersona-${personaCount}">Altura:</label>
    <input type="text" id="alturaPersona-${personaCount}" name="alturaPersona-${personaCount}" required><br>

    <label for="for="provincia>Provincia:</label>
    <select id="provinciaPersona-${personaCount}" name="provinciaPersona-${personaCount}" required onchange="updateLocalidades()">
                        <option value="" disabled selected>Selecciona una provincia</option>
                        <option value="provincia-buenos-aires">Buenos Aires</option>
                        <option value="provincia-buenos-aires-sur">Buenos Aires-GBA</option>
                        <option value="capital-federal">Capital Federal</option>
    </select>
    <label for="localidad">Localidad:</label>
                    <input id="localidad" name="localidadPersona-${personaCount}" required>

    <label for="tipoDocumentoPersona-${personaCount}">Tipo de Documento:</label>
    <select id="tipoDocumentoPersona-${personaCount}" name="tipoDocumentoPersona-${personaCount}" required>
        <option value="DNI">DNI</option>
        <option value="LC">LC</option>
        <option value="LE">LE</option>
        <option value="CUIT">CUIT</option>
    </select><br>

    <label for="numeroDocumentoPersona-${personaCount}">Numero de Documento:</label>
    <input type="text" id="numeroDocumentoPersona-${personaCount}" name="numeroDocumentoPersona-${personaCount}"
           required><br>

    <button type="button" onclick="eliminarPersona(${personaCount})">Cerrar</button><br>
    `;
                container.appendChild(newForm);
                personaCount++;
            }

            window.agregarPersona = agregarPersona;

            // Función para eliminar un formulario de persona
            function eliminarPersona(id) {
                const form = document.getElementById(`persona-form-${id}`);
                form.remove();
            }
            window.eliminarPersona = eliminarPersona;
        });

        document.addEventListener('DOMContentLoaded', () => {

            function updateLocalidades() {
                const provincia = document.getElementById('provincia').value;
                const localidad = document.getElementById('localidad');
                localidad.disabled = false;
                localidad.innerHTML = ''; // Limpia las opciones de localidad

                let opcionesLocalidades = [];
                switch (provincia) {
                    case 'provincia-buenos-aires':
                        opcionesLocalidades = [
                            '25 de Mayo', '3 de febrero', 'A. Alsina', 'A. Gonzáles Cháves', 'Aguas Verdes',
                            'Alberti', 'Arrecifes', 'Ayacucho', 'Azul', 'Bahía Blanca', 'Balcarce', 'Baradero',
                            'Benito Juárez', 'Berisso', 'Bolívar', 'Bragado', 'Brandsen', 'Campana', 'Cañuelas',
                            'Capilla del Señor', 'Capitán Sarmiento', 'Carapachay', 'Carhue', 'Cariló',
                            'Carlos Casares', 'Carlos Tejedor', 'Carmen de Areco', 'Carmen de Patagones',
                            'Castelli', 'Chacabuco', 'Chascomús', 'Chivilcoy', 'Colón', 'Coronel Dorrego',
                            'Coronel Pringles', 'Coronel Rosales', 'Coronel Suarez', 'Costa Azul', 'Costa Chica',
                            'Costa del Este', 'Costa Esmeralda', 'Daireaux', 'Darregueira', 'Del Viso', 'Dolores',
                            'Don Torcuato', 'Ensenada', 'Escobar', 'Exaltación de la Cruz', 'Florentino Ameghino',
                            'Garín', 'Gral. Alvarado', 'Gral. Alvear', 'Gral. Arenales', 'Gral. Belgrano',
                            'Gral. Guido', 'Gral. Lamadrid', 'Gral. Las Heras', 'Gral. Lavalle', 'Gral. Madariaga',
                            'Gral. Pacheco', 'Gral. Paz', 'Gral. Pinto', 'Gral. Pueyrredón', 'Gral. Rodríguez',
                            'Gral. Viamonte', 'Gral. Villegas', 'Guaminí', 'Guernica', 'Hipólito Yrigoyen',
                            'Ing. Maschwitz', 'Junín', 'La Plata', 'Laprida', 'Las Flores', 'Las Toninas',
                            'Leandro N. Alem', 'Lincoln', 'Loberia', 'Lobos', 'Los Cardales', 'Los Toldos',
                            'Lucila del Mar', 'Luján', 'Magdalena', 'Maipú', 'Mar Chiquita', 'Mar de Ajó',
                            'Mar de las Pampas', 'Mar del Plata', 'Mar del Tuyú', 'Marcos Paz', 'Mercedes',
                            'Miramar', 'Monte', 'Monte Hermoso', 'Munro', 'Navarro', 'Necochea', 'Olavarría',
                            'Partido de la Costa', 'Pehuajó', 'Pellegrini', 'Pergamino', 'Pigüé', 'Pila',
                            'Pilar', 'Pinamar', 'Pinar del Sol', 'Polvorines', 'Pte. Perón', 'Puán',
                            'Punta Indio', 'Ramallo', 'Rauch', 'Rivadavia', 'Rojas', 'Roque Pérez', 'Saavedra',
                            'Saladillo', 'Salliqueló', 'Salto', 'San Andrés de Giles', 'San Antonio de Areco',
                            'San Antonio de Padua', 'San Bernardo', 'San Cayetano', 'San Clemente del Tuyú',
                            'San Nicolás', 'San Pedro', 'San Vicente', 'Santa Teresita', 'Suipacha', 'Tandil',
                            'Tapalqué', 'Tordillo', 'Tornquist', 'Trenque Lauquen', 'Tres Lomas', 'Villa Gesell',
                            'Villarino', 'Zárate'
                        ];
                        break;

                    case 'capital-federal':
                        opcionesLocalidades = [
                            'Agronomía', 'Almagro', 'Balvanera', 'Barracas', 'Belgrano', 'Boca', 'Boedo',
                            'Caballito', 'Chacarita', 'Coghlan', 'Colegiales', 'Constitución', 'Flores',
                            'Floresta', 'La Boca', 'La Paternal', 'Liniers', 'Mataderos', 'Monte Castro',
                            'Monserrat', 'Nueva Pompeya', 'Núñez', 'Palermo', 'Parque Avellaneda',
                            'Parque Chacabuco', 'Parque Chas', 'Parque Patricios', 'Puerto Madero', 'Recoleta',
                            'Retiro', 'Saavedra', 'San Cristóbal', 'San Nicolás', 'San Telmo', 'Vélez Sársfield',
                            'Versalles', 'Villa Crespo', 'Villa del Parque', 'Villa Devoto', 'Villa Gral. Mitre',
                            'Villa Lugano', 'Villa Luro', 'Villa Ortúzar', 'Villa Pueyrredón', 'Villa Real',
                            'Villa Riachuelo', 'Villa Santa Rita', 'Villa Soldati', 'Villa Urquiza'
                        ];
                        break;

                    case 'provincia-buenos-aires-sur':
                        opcionesLocalidades = [
                            '11 de Septiembre', '20 de Junio', '25 de Mayo', 'Acassuso', 'Adrogué', 'Aldo Bonzi',
                            'Área Reserva Cinturón Ecológico', 'Avellaneda', 'Banfield', 'Barrio Parque',
                            'Barrio Santa Teresita', 'Beccar', 'Bella Vista', 'Berazategui', 'Bernal Este',
                            'Bernal Oeste', 'Billinghurst', 'Boulogne', 'Burzaco', 'Carapachay', 'Caseros',
                            'Castelar', 'Churruca', 'Ciudad Evita', 'Ciudad Madero', 'Ciudadela', 'Claypole',
                            'Crucecita', 'Dock Sud', 'Don Bosco', 'Don Orione', 'El Jagüel', 'El Libertador',
                            'El Palomar', 'El Tala', 'El Trébol', 'Ezeiza', 'Ezpeleta', 'Florencio Varela',
                            'Florida', 'Francisco Álvarez', 'Gerli', 'Glew', 'González Catán', 'Gral. Lamadrid',
                            'Grand Bourg', 'Gregorio de Laferrere', 'Guillermo Enrique Hudson', 'Haedo',
                            'Hurlingham', 'Ing. Sourdeaux', 'Isidro Casanova', 'Ituzaingó', 'José C. Paz',
                            'José Ingenieros', 'José Marmol', 'La Lucila', 'La Reja', 'La Tablada', 'Lanús',
                            'Llavallol', 'Loma Hermosa', 'Lomas de Zamora', 'Lomas del Millón', 'Lomas del Mirador',
                            'Longchamps', 'Los Polvorines', 'Luis Guillón', 'Malvinas Argentinas', 'Martín Coronado',
                            'Martínez', 'Merlo', 'Ministro Rivadavia', 'Monte Chingolo', 'Monte Grande', 'Moreno',
                            'Morón', 'Muñiz', 'Olivos', 'Pablo Nogués', 'Pablo Podestá', 'Paso del Rey', 'Pereyra',
                            'Piñeiro', 'Plátanos', 'Pontevedra', 'Quilmes', 'Rafael Calzada', 'Rafael Castillo',
                            'Ramos Mejía', 'Ranelagh', 'Remedios de Escalada', 'Sáenz Peña', 'San Antonio de Padua',
                            'San Fernando', 'San Francisco Solano', 'San Isidro', 'San José', 'San Justo', 'San Martín',
                            'San Miguel', 'Santos Lugares', 'Sarandí', 'Sourigues', 'Tapiales', 'Temperley', 'Tigre',
                            'Tortuguitas', 'Tristán Suárez', 'Trujui', 'Turdera', 'Valentín Alsina', 'Vicente López',
                            'Villa Adelina', 'Villa Ballester', 'Villa Bosch', 'Villa Caraza', 'Villa Celina',
                            'Villa Centenario', 'Villa de Mayo', 'Villa Diamante', 'Villa Domínico', 'Villa España',
                            'Villa Fiorito', 'Villa Guillermina', 'Villa Insuperable', 'Villa José León Suárez',
                            'Villa La Florida', 'Villa Luzuriaga', 'Villa Martelli', 'Villa Obrera', 'Villa Progreso',
                            'Villa Raffo', 'Villa Sarmiento', 'Villa Tesei', 'Villa Udaondo', 'Virrey del Pino',
                            'Wilde', 'William Morris'
                        ];
                        break;

                    default:
                        opcionesLocalidades = [];
                }


                opcionesLocalidades.forEach(localidadNombre => {
                    const option = document.createElement('option');
                    option.value = localidadNombre.toLowerCase().replace(/\s/g, '-');
                    option.textContent = localidadNombre;
                    localidad.appendChild(option);
                });
            }
            document.getElementById('provincia').addEventListener('change', updateLocalidades);

        });

        document.addEventListener('DOMContentLoaded', () => {

            function toggleCalleField() {
                const calleField = document.getElementById('calle');
                calleField.disabled = !document.getElementById('enCondicionCalle').checked;
            }

            function togglePersonaButton() {
                const agregarPersonaBtn = document.getElementById('agregarPersonaBtn');
                agregarPersonaBtn.style.display = document.getElementById('personasACargo').checked ? 'inline-block' : 'none';
            }

            function agregarPersona() {
                const container = document.getElementById("persona-forms-container");
                const newForm = document.createElement("div");
                newForm.style.border = "2px solid #007bff";
                newForm.style.marginTop = "20px";
                newForm.id = `persona-form-${personaCount}`;
                newForm.innerHTML = `
    <label for="nombrePersona-${personaCount}">Nombre:</label>
    <input type="text" id="nombrePersona-${personaCount}" name="nombrePersona-${personaCount}" required>
    <label for="fechaNacimientoPersona-${personaCount}">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimientoPersona-${personaCount}" name="fechaNacimientoPersona-${personaCount}"
           required>
    <label for="fechaAltaPersona-${personaCount}">Fecha de Alta:</label>
    <input type="date" id="fechaAltaPersona-${personaCount}" name="fechaAltaPersona-${personaCount}" required>
    <label for="enCondicionCallePersona-${personaCount}">En Condicion de Calle:</label>
    <input type="checkbox" id="enCondicionCallePersona-${personaCount}" name="enCondicionCallePersona-${personaCount}">
    <label for="callePersona-${personaCount}">Calle:</label>
    <input type="text" id="callePersona-${personaCount}" name="callePersona-${personaCount}" required>
    <label for="alturaPersona-${personaCount}">Altura:</label>
    <input type="text" id="alturaPersona-${personaCount}" name="alturaPersona-${personaCount}" required>
    <label for="localidadPersona-${personaCount}">Localidad:</label>
    <input type="text" id="localidadPersona-${personaCount}" name="localidadPersona-${personaCount}" required>
    <label for="provinciaPersona-${personaCount}">Provincia:</label>
    <input type="text" id="provinciaPersona-${personaCount}" name="provinciaPersona-${personaCount}" required>
    <label for="tipoDocumentoPersona-${personaCount}">Tipo de Documento:</label>
    <select id="tipoDocumentoPersona-${personaCount}" name="tipoDocumentoPersona-${personaCount}" required>
        <option value="DNI">DNI</option>
        <option value="LC">LC</option>
        <option value="LE">LE</option>
        <option value="CUIT">CUIT</option>
    </select>
    <label for="numeroDocumentoPersona-${personaCount}">Numero de Documento:</label>
    <input type="text" id="numeroDocumentoPersona-${personaCount}" name="numeroDocumentoPersona-${personaCount}"
           required>
    <button type="button" onclick="eliminarPersona(${personaCount})">Cerrar</button>
    `;
                container.appendChild(newForm);
                personaCount++;
            }

            function eliminarPersona(id) {
                const form = document.getElementById(`persona-form-${id}`);
                form.remove();
            }
        });




    </script>
{{/partial}}
{{> templates/base}}